{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} About {% endblock title %}</h1>
        <p> Contar con algún acceso visible a la vista de "Acerca de mí" donde se contará acerca de los dueños de la página manejado en el route about/.  
        (En castellano un “acerca de mí” que hable un poco de los creadores de la web y del proyecto).</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Volver &rarr;</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}