{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <div class="row">
    <!-- Sent Messages Column -->
    <div class="col-md-8 mt-3 left">
      {% if object_list %}
      {% for message in object_list %}
        {% if request.user == message.sender %}
        <div class="card mb-4">
          <div class="card-body">
              <h2 class="card-title">{{ message.msg_title }}</h2>
              <p class="card-text text-muted h6">Para: {{ message.reciever }} | Fecha envio: {{ message.created_at}} </p>
              <p class="card-text">{{message.msg_content |safe }}</p>
          </div>
      </div>
        {% endif %}
      {% endfor %}
      {% else %}
      <div class="card mb-4">
          <div class="card-body">
              <h2 class="card-title"> No hay ningun mensaje</h2>
              <p class="card-text text-muted h6">No se encuentran mensajes. </p>
          </div>
      </div>
      {% endif %}
      <a href="{% url 'home' %}" class="btn btn-primary">Volver &rarr;</a>      
  </div>
  </div>
</div>

{% endblock content %}
