{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Usuario</h5>
            <div class="card-body">
            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'profile'  %}">Ver Perfil</a></li>
            {% if user.avatar.image %}
            <img style="height: 50px;" src="{{user.avatar.image.url}}" alt="avatar">
            {% endif %}
            <li><a href="{% url 'update'  %} ">Editar Perfil</a></li>
            <li><a href="{% url 'inbox' user.get_username  %} ">Inbox</a></li>
            <li><a href="{% url 'sentbox' user.get_username  %} ">Sentbox</a></li>
            <li><a href="{% url 'new_message' user.get_username  %} ">Nuevo Mensaje</a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %} 
            </div>
    </div>        
    <div class="card my-4">
        <h5 class="card-header">Posteos Activos</h5>
        <div class="card-body">
        {% if object_list %}
            {% for Post in object_list  %}             
              <p>  <a href="{% url 'post_detail' Post.slug %}">{{ Post.title }} </a> </p>
            {% endfor %}
        {% else %}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text text-muted h6">No se encuentran entradas. </p>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    </div>

    {% endblock sidebar %}